* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box-inline-block {
  background-color: rgb(139, 120, 96);
  display: block;
  width: 100%;
  .bi {
    display: inline-block;
    width: 300px;
    background-color: red;
  }
}

.box-block {
  width: 100%;
  display: block;
  .BlockBoxes {
    display: inline-block;
    background-color: blue;
    margin: 20px;
    width: 200px;
  }
}

.span-box {
  display: inline; /* the default for span */
  width: 100px;
  height: 160px;
  padding: 18px;
  background-color: aqua;
}
